.header-component{
  background-image: url('https://images.pexels.com/photos/430207/pexels-photo-430207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.header-component h1{
  display: flex;
  justify-content: center;
  padding-top: 200px;
  color: rgb(249, 246, 236);
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5.5rem;
  text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.7), 
    2px 2px 5px rgba(0, 0, 0, 0.5), 
    3px 3px 7px rgba(0, 0, 0, 0.3);
}
.header-component h6{
  display: flex;
  justify-content: center;
  
  color: rgb(249, 246, 236);
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.0rem;
  text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.7), 
    2px 2px 5px rgba(0, 0, 0, 0.5), 
    3px 3px 7px rgba(0, 0, 0, 0.3);
}

.header-1{
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  color: rgb(9, 7, 0);
  font-weight: 400;
  font-size: 1.5rem;

}

.header-2{
  display: flex;
  /* padding-top: : */
  padding-bottom: 10px;
  padding-left: 20px;
  color: rgb(79, 78, 75);
  font-weight: 400;
  font-size: 1.0rem;
}

